body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #000080;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  nav {
    background-color: #000080;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  
  nav li {
    display: inline-block;
    margin-right: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 1em;
  }
  
  
  
  footer {
    background-color: #000080;
    color: white;
    text-align: center;
    padding: 3em;
  }
  